aiohttp==3.7.4.post0
alabaster==0.7.8
annoy @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/annoy-1.17.0-cp38-cp38-linux_x86_64.whl
apturl==0.5.2
argon2-cffi==20.1.0
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.3.0
blinker==1.4
blis==0.4.1
bottle==0.12.15
Bottleneck==1.3.2
Brlapi==0.7.0
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
command-not-found==0.3
crcmod==1.7
cryptography==3.0
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.5
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distro==1.5.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docker==4.1.0
docutils==0.16
duplicity==0.8.12.0
entrypoints==0.3
fastai==1.0.57
fasteners @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/fasteners-0.16-py2.py3-none-any.whl
fastprogress==1.0.0
Flask==1.1.2
future==0.18.2
Glances==3.1.4.1
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.4
greenlet==0.4.15
gyp==0.1
h5py @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/h5py-3.2.1-cp38-cp38-manylinux1_x86_64.whl
html5lib==1.1
httplib2==0.18.1
idna==2.10
imagesize==1.2.0
importlib-metadata==1.6.0
influxdb==5.2.3
inltk==0.9
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.4.2
itsdangerous==1.1.0
jedi==0.18.0
jeepney==0.4.3
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==21.3.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.5.1
libevdev==0.5
lockfile==0.12.2
logilab-common==1.7.2
louis==3.14.0
lxml==4.5.2
lz4 @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/lz4-3.1.3-cp38-cp38-manylinux2010_x86_64.whl
macaroonbakery==1.3.1
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mercurial==5.5.1
mistune==0.8.4
mock==4.0.2
monotonic==1.6
more-itertools==4.2.0
msgpack==0.6.2
multidict==5.1.0
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
netifaces==0.10.4
nltk==3.5
notebook==6.2.0
numexpr==2.7.3
numpy @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/numpy-1.20.2-cp38-cp38-manylinux2010_x86_64.whl
numpydoc==1.1.0
nvidia-ml-py3==7.352.0
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
openai==0.2.4
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
paramiko==2.7.1
parso==0.8.1
pathy==0.5.2
pbr==5.4.5
pexpect==4.6.0
pgi==0.0.11.2
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
ply==3.11
preshed==3.0.5
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.12.3
psutil==5.7.2
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.9.7
pycups==2.0.1
pydantic==1.7.3
PyDrive==1.3.1
pyflakes==2.2.0
Pygments==2.8.0
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.5.3
pymacaroons==0.13.0
PyNaCl==1.4.0
pynvim==0.4.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.0
pyRFC3339==1.1
pyrsistent==0.17.3
pysmi==0.3.2
pysnmp==4.4.6
pystache==0.5.4
pysvn==1.9.12
python-apt==2.1.3+ubuntu1.3
python-dateutil==2.8.1
python-debian==0.1.37
python-dotenv==0.14.0
pytz==2020.1
pyudev==0.21.0
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.0.3
QtAwesome==0.4.4
qtconsole==5.0.2
QtPy==1.9.0
regex==2020.11.13
reportlab==3.5.47
requests==2.24.0
requests-unixsocket==0.2.0
roman==2.0.0
rope==0.17.0
rsa==4.0
scikit-learn==0.24.1
scipy==1.6.1
scour==0.37
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.95
simplejson==3.17.0
sip==4.19.24
six @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/six-1.15.0-py2.py3-none-any.whl
smart-open==3.0.0
soupsieve==2.0.1
spacy==2.2.3
spacy-legacy==3.0.5
Sphinx==3.2.1
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.19
srsly==1.0.5
ssh-import-id==5.10
systemd-python==234
terminado==0.9.2
testpath==0.4.4
thinc==7.3.1
threadpoolctl==2.1.0
toml==0.10.1
torch @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/torch-1.8.1-cp38-cp38-manylinux1_x86_64.whl
torchvision==0.9.1
tornado==6.1
tqdm==4.57.0
traitlets==5.0.5
typer==0.3.2
typing==3.7.4.3
typing-extensions @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/typing_extensions-3.7.4.3-py3-none-any.whl
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.11
wadllib==1.3.4
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xkit==0.0.0
xxhash @ file:///tmp/pip-install-8tsf9j_s/pymagnitude_b900d2d867f74e15a3495afb1cdb73e1/pymagnitude/req_wheels/xxhash-2.0.2-cp38-cp38-manylinux2010_x86_64.whl
yarl==1.6.3
zipp==1.0.0
